:host {
  display: flex;
  position: relative;
  text-overflow: ellipsis;
  white-space: wrap;
}

.img-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-overflow: ellipsis;
  white-space: wrap;

  img {
    width: 80px;
    height: 80px;
    margin-right: 5px;
  }
}

.filebutton {
  border: 0.1px solid;
  width: 80px;
  height: 80px;
  color: #ccc;
  transition: color .25s;
  position: relative;

  margin-right: 5px;
}

.filebutton::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin-left: -25%;
  margin-top: -1.5px;
  border-top: 3px solid;
}

.filebutton::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50%;
  margin-left: -1.5px;
  margin-top: -25%;
  border-left: 3px solid;
 }

input {
  display: none;
}